<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>MusicianShip</title>
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
    />
    <style>
      body {
        padding-top: 80px;
        word-wrap: break-word;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="page-header text-center">
        <h1><span class="fa fa-music">Welcome to MusicianShip</span></h1>
      </div>
      <div class="text-center instructions">
        <h1>Instructions</h1>
        <h3>Artists</h3>
        <p>
          Upload a video sample and description of your project. Give it a
          financial goal. If the financial goal is reached, deliver the goods.
          Also, say you're offering to release files of some kind, upload the
          files, and they will automatically be released when your financial
          goal is met.
        </p>
        <h3>Fans</h3>
        <p>
          Click on a project from one of your favorite artists, and pledge! If
          the financial goal is met, then you will be charged.
        </p>
      </div>
      <div class="text-center start">
        <h3>Would you like to start a campaign?</h3>
        <a href="/campaign"><h4>Start Campaign</h4></a>
      </div>
      <div class="text-center">
        <ul class="campaigns"></ul>
      </div>
      <div class="text-center">
        <ul class="your-campaigns"></ul>
      </div>
    </div>
    <!-- <header>
      <h1>Welcome to MusicianShip</h1>
    </header>
    <div class="begin">
      <h3>Would you like to start a campaign?</h3>
      <a href="/campaign"><h4>Start Campaign</h4></a>
    </div> -->
    <!-- <div class="container">
      <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="well">
            <h3><span class="fa fa-user"></span> Local</h3>

              <p>
                <strong>id</strong>: <%= user._id %><br>
                <strong>email</strong>: <%= user.local.email %><br>
                <strong>password</strong>: <%= user.local.password %>
              </p>
          </div>
        </div>
      </div>
    </div> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="./js/getCampaigns.js"></script>
  </body>
</html>
